# Virtual environments
venv/
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/

# IDEs and editors
.vscode/
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Data and models
dataset/
*.csv
*.pkl

# Logs
logs/
*.log

# Secret keys
secrets.json

# Jupyter
.ipynb_checkpoints/

# Ignore large files
*.h5
*.ckpt
